<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="row mx-0">
  <div class="col-12">
    <div id="wrapper">
      <!-- Sidebar -->
      <div class="row px-0">
        <div class="col-3 pl-0">
          <div id="sidebar-wrapper">
            <ul>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Dimention</h6>
                    <p class="sub-title">Overall Printer Size</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Bootscreen</h6>
                    <p class="sub-title">Configure BootScreen</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Login</h6>
                    <p class="sub-title">Lorem ipsum dolor.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Login</h6>
                    <p class="sub-title">Lorem ipsum dolor.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Login</h6>
                    <p class="sub-title">Lorem ipsum dolor.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">Login</h6>
                    <p class="sub-title">Lorem ipsum dolor.</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-9 pr-0">
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
