<div class="row mx-0">
  <div class="col-12">
    <div id="wrapper">
      <!-- Sidebar -->
      <div class="row px-0">
        <div class="col-3 px-0">
          <div id="sidebar-wrapper" class="scrollbar">
            <ul>
              <li *ngFor="let step of stepList">
                <a (click)="scrollToElem(step.id)">
                  <div class="title-wrapper">
                    <div class="icon">
                      <i class="mdi mdi-account-multiple-outline"></i>
                    </div>
                    <h6 class="title">
                      <span class="badge badge-secondary mr-2">{{
                        step.no
                      }}</span
                      >{{ step.title }}
                    </h6>
                    <p class="sub-title">{{ step.subTitle }}</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-9 px-0">
          <!-- Page Content -->
          <div id="page-content-wrapper" class="scrollbar">
            <div class="container-fluid my-5">
              <ng-container>
                <h4 class="section-heading" #base_variant>
                  <span class="badge badge-secondary mr-2">Step 1</span
                  >Configure Base Variant
                </h4>
                <p>
                  Marlin now checks for a configuration version and won’t
                  compile without this setting. If you want to upgrade from an
                  earlier version of Marlin, add this line to your old
                  configuration file. During compilation, Marlin will throw
                  errors explaining what needs to be changed.
                </p>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1"
                      >Marlin Version</label
                    >
                    <select
                      class="form-control custom-select"
                      id="exampleFormControlSelect1"
                      disabled
                    >
                      <option>2.0.5.3</option>
                      <option>2.0.5.2</option>
                      <option>2.0.5.1</option>
                      <option>2.0.5</option>
                      <option>2.0.4.4</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2"
                      >Configuration versioning</label
                    >
                    <select
                      class="form-control custom-select"
                      id="exampleFormControlSelect2"
                    >
                      <option>020006</option>
                      <option>020005</option>
                    </select>
                  </div>
                  <div class="text-right my-5">
                    <button type="submit" class="btn btn-success mr-2">
                      Save
                    </button>
                    <button type="button" class="btn btn-primary">
                      Next Step
                    </button>
                  </div>
                </form>
              </ng-container>
              <ng-container>
                <h4 class="section-heading" #firmware_info>
                  <span class="badge badge-secondary mr-2">Step 2</span
                  >Configure Firmware Info
                </h4>
                <p>
                  Marlin allows you to add a custom boot image for Graphical
                  LCDs. With this option Marlin will first show your custom
                  screen followed by the standard Marlin logo with version
                  number and web URL.
                </p>
                <P>
                  We encourage you to take advantage of this new feature and we
                  also respectfully request that you retain the unmodified
                  Marlin boot screen.
                </P>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail3"
                      >Author Name, Version Details</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail3"
                      aria-describedby="authorHelp"
                      placeholder="Enter email"
                      value="(none, default config)"
                    />
                    <small id="authorHelp" class="form-text text-muted">
                      <code><strong>STRING_CONFIG_H_AUTHOR</strong></code> is
                      shown in the Marlin startup message, and is meant to
                      identify the author (and optional variant) of the
                      firmware. Use this setting as a way to uniquely identify
                      all your custom configurations. The startup message is
                      printed when connecting to host software, when the board
                      reboots and
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M115.html"
                        ><code>M115</code></a
                      >.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="bootScreenHelp"
                      id="exampleCheck1"
                    />
                    <label class="custom-control-label" for="exampleCheck1"
                      >Enable Boot Screen Image</label
                    >
                    <small id="bootscreenHelp" class="form-text text-muted">
                      <code><strong>SHOW_BOOTSCREEN</strong></code> enables the
                      boot screen for LCD controllers.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch tab-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="custombootscreenHelp"
                      id="exampleCheck2"
                    />
                    <label class="custom-control-label" for="exampleCheck2">
                      Enable Custom Image on Boot Screen
                    </label>
                    <small
                      id="customBootScreenHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>SHOW_CUSTOM_BOOTSCREEN</strong> </code>
                      shows the bitmap in Marlin/_Bootscreen.h on startup.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch tab-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="customStatusScreenHelp"
                      id="exampleCheck3"
                    />
                    <label class="custom-control-label" for="exampleCheck3">
                      Enable Custom Image on Status Screen
                    </label>
                    <small
                      id="customStatusScreenHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>CUSTOM_STATUS_SCREEN_IMAGE</strong> </code>
                      shows the bitmap in Marlin/_Statusscreen.h on the status
                      screen.
                    </small>
                  </div>

                  <div class="row my-5">
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-primary">
                        Prev Step
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="submit" class="btn btn-success mr-2">
                        Save
                      </button>
                      <button type="button" class="btn btn-primary">
                        Next Step
                      </button>
                    </div>
                  </div>
                </form>
              </ng-container>
              <ng-container>
                <h4 class="section-heading" #hardware_info>
                  <span class="badge badge-secondary mr-2">Step 3</span
                  >Configure Hardware Info
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Serial Port</label>
                    <div
                      class="btn-group block"
                      role="group"
                      aria-label="Serial Port"
                      aria-describedby="serialPortHelp"
                    >
                      <button type="button" class="btn btn-success">
                        -1
                      </button>
                      <button type="button" class="btn btn-success">
                        0
                      </button>
                      <button type="button" class="btn btn-secondary">
                        1
                      </button>
                      <button type="button" class="btn btn-secondary">
                        2
                      </button>
                      <button type="button" class="btn btn-secondary">
                        3
                      </button>
                      <button type="button" class="btn btn-secondary">
                        4
                      </button>
                      <button type="button" class="btn btn-secondary">
                        5
                      </button>
                      <button type="button" class="btn btn-secondary">
                        6
                      </button>
                      <button type="button" class="btn btn-secondary">
                        7
                      </button>
                    </div>
                    <small id="serialPortHelp" class="form-text text-muted">
                      <code><strong>SERIAL_PORT</strong></code> The index of the
                      on-board serial port that will be used for primary host
                      communication. Change this if, for example, you need to
                      connect a wireless adapter to non-default port pins.
                      <br />
                      Note: The first serial port (-1 or 0) will always be used
                      by the Arduino bootloader.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="serialPort2Help"
                      id="exampleCheck4"
                    />
                    <label class="custom-control-label" for="exampleCheck4"
                      >Enable Secondary Serial Port</label
                    >
                    <small id="serialPort2Help" class="form-text text-muted">
                      <code><strong>SERIAL_PORT_2</strong></code> Enable this if
                      your board has a secondary serial port.
                    </small>
                  </div>
                  <div class="form-group tab-2">
                    <label for="exampleInputEmail1">Serial Port 2</label>
                    <div
                      class="btn-group block"
                      role="group"
                      aria-label="Serial Port"
                      aria-describedby="serialPortHelp"
                    >
                      <button type="button" class="btn btn-success">
                        -1
                      </button>
                      <button type="button" class="btn btn-success">
                        0
                      </button>
                      <button type="button" class="btn btn-secondary">
                        1
                      </button>
                      <button type="button" class="btn btn-secondary">
                        2
                      </button>
                      <button type="button" class="btn btn-secondary">
                        3
                      </button>
                      <button type="button" class="btn btn-secondary">
                        4
                      </button>
                      <button type="button" class="btn btn-secondary">
                        5
                      </button>
                      <button type="button" class="btn btn-secondary">
                        6
                      </button>
                      <button type="button" class="btn btn-secondary">
                        7
                      </button>
                    </div>
                    <small id="serialPortHelp" class="form-text text-muted">
                      <code><strong>SERIAL_PORT_2</strong></code>
                      Note: Serial port -1 is the USB emulated serial port, if
                      available.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Baud Rate</label>
                    <select
                      class="form-control custom-select"
                      id="exampleFormControlSelect2"
                      aria-describedby="baudRateHelp"
                    >
                      <option>2400</option>
                      <option>9600</option>
                      <option>19200</option>
                      <option>38400</option>
                      <option>57600</option>
                      <option>115200</option>
                      <option>250000</option>
                    </select>
                    <small id="serialPortHelp" class="form-text text-muted">
                      <code><strong>BAUDRATE</strong></code> The serial
                      communication speed of the printer should be as fast as it
                      can manage without generating errors. In most cases 115200
                      gives a good balance between speed and stability. Start
                      with 250000 and only go lower if “line number” and
                      “checksum” errors start to appear. Note that some boards
                      (e.g., a temperamental Sanguinololu clone based on the
                      ATMEGA1284P) may not be able to handle a baudrate over
                      57600
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="custombootscreenHelp"
                      id="exampleCheck5"
                    />
                    <label class="custom-control-label" for="exampleCheck5">
                      Enable Bluetooth
                    </label>
                    <small
                      id="customBootScreenHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>BLUETOOTH</strong> </code>
                      Enable the Bluetooth serial interface. For boards based on
                      the AT90USB.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect3">MOTHERBOARD</label>
                    <select
                      class="form-control custom-select"
                      id="exampleFormControlSelect3"
                      aria-describedby="motherboardHelp"
                    >
                      <option>BOARD_RAMPS_14_EFB</option>
                    </select>
                    <small id="motherboardHelp" class="form-text text-muted">
                      <code><strong>MOTHERBOARD</strong></code> The most
                      important setting is Marlin is the motherboard. The
                      firmware needs to know what board it will be running on so
                      it can assign the right functions to all pins and take
                      advantage of the full capabilities of the board. Setting
                      this incorrectly will lead to unpredictable results.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="serialPort2Help"
                      id="exampleCheck6"
                    />
                    <label class="custom-control-label" for="exampleCheck6"
                      >Enable Custom Machine Name</label
                    >
                  </div>
                  <div class="form-group tab-2">
                    <label for="exampleInputEmail1">Custom Machine Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="customMachineHelp"
                      placeholder="Enter machine name"
                      value=""
                    />
                    <small id="customMachineHelp" class="form-text text-muted">
                      <code><strong>CUSTOM_MACHINE_NAME</strong></code> This is
                      the name of your printer as displayed on the LCD and by
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M115.html"
                        ><code>M115</code> </a
                      >. For example, if you set this to “My Delta” the LCD will
                      display “My Delta ready” when the printer starts up.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="serialPort2Help"
                      id="exampleCheck7"
                    />
                    <label class="custom-control-label" for="exampleCheck7"
                      >Enable Custom Machine UUID</label
                    >
                  </div>
                  <div class="form-group tab-2">
                    <label for="exampleInputEmail1">Custom Machine UUID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="customMachineHelp"
                      placeholder="Enter machine UUID"
                      value=""
                    />
                    <small id="customMachineHelp" class="form-text text-muted">
                      <code><strong>MACHINE_UUID</strong></code> A unique ID for
                      your 3D printer. A suitable unique ID can be generated
                      randomly at uuidtools.com. Some host programs and slicers
                      may use this identifier to differentiate between specific
                      machines on your network.
                    </small>
                  </div>

                  <div class="row my-5">
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-primary">
                        Prev Step
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="submit" class="btn btn-success mr-2">
                        Save
                      </button>
                      <button type="button" class="btn btn-primary">
                        Next Step
                      </button>
                    </div>
                  </div>
                </form>
              </ng-container>

              <ng-container>
                <h4 class="section-heading" #extruder_info>
                  <span class="badge badge-secondary mr-2">Step 4</span
                  >Configure Extuder Info
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Number of extruder(s)</label
                    >
                    <div
                      class="btn-group block"
                      role="group"
                      aria-label="Serial Port"
                      aria-describedby="exrderInfoHelp"
                    >
                      <button type="button" class="btn btn-success">
                        1
                      </button>
                      <button type="button" class="btn btn-secondary">
                        2
                      </button>
                      <button type="button" class="btn btn-secondary">
                        3
                      </button>
                      <button type="button" class="btn btn-secondary">
                        4
                      </button>
                      <button type="button" class="btn btn-secondary">
                        5
                      </button>
                      <button type="button" class="btn btn-secondary">
                        6
                      </button>
                      <button type="button" class="btn btn-secondary">
                        7
                      </button>
                      <button type="button" class="btn btn-secondary">
                        8
                      </button>
                    </div>
                    <small id="exrderInfoHelp" class="form-text text-muted">
                      <code><strong>EXTRUDERS</strong></code> This value, from 1
                      to 8, defines how many extruders (or E steppers) the
                      printer has. By default Marlin will assume separate
                      nozzles all moving together on a single carriage. If you
                      have a single nozzle, a switching extruder, a mixing
                      extruder, or dual X carriages, specify that below.
                      <br />
                      Note: This value should be set to the total number of E
                      stepper motors on the machine, even if there’s only a
                      single nozzle.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Filament Diameter</label>
                    <div
                      class="btn-group block"
                      role="group"
                      aria-label="Serial Port"
                      aria-describedby="filamentHelp"
                    >
                      <button type="button" class="btn btn-success">
                        1.75
                      </button>
                      <button type="button" class="btn btn-secondary">
                        2.85
                      </button>
                      <button type="button" class="btn btn-secondary">
                        3.00
                      </button>
                    </div>
                    <small id="filamentHelp" class="form-text text-muted">
                      <code><strong>DEFAULT_NOMINAL_FILAMENT_DIA</strong></code>
                      This is the “nominal” filament diameter as written on the
                      filament spool (1.75, 2.85, 3.0). If you typically use
                      1.75mm filament, but physically measure the diameter as
                      1.70mm, you should still use 1.75 if that’s what you have
                      set in your slicer.
                      <br />
                      This value is used by Marlin to compensate for Filament
                      Width when printing in volumetric mode (See
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M200.html"
                        ><code>M200</code></a
                      >), and by the Unified Bed Leveling command
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M026.html"
                        ><code>G26</code></a
                      >
                      when printing a test grid. <br /><br />
                      You can override this value with
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M404.html"
                        ><code>M404</code></a
                      >.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="singleNozzleHelp"
                      id="exampleCheck8"
                    />
                    <label class="custom-control-label" for="exampleCheck8"
                      >Enable Single Nozzle</label
                    >
                    <small id="singleNozzleHelp" class="form-text text-muted">
                      <code><strong>SINGLENOZZLE</strong></code>
                      if you have an E3D Cyclops or any other “multi-extruder”
                      system that shares a single nozzle. In a single-nozzle
                      setup, only one filament drive is engaged at a time, and
                      each needs to retract before the next filament can be
                      loaded and begin purging and extruding.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="multiplexerHelp"
                      id="exampleCheck9"
                    />
                    <label class="custom-control-label" for="exampleCheck9"
                      >Enable MK2 Multiplexer</label
                    >
                    <small id="multiplexerHelp" class="form-text text-muted">
                      <code><strong>MK2_MULTIPLEXER</strong></code>
                      Allows one stepper driver on a control board to drive two
                      to eight stepper motors, one at a time.
                      <br />
                      <strong
                        >Prusa MK2 Single Nozzle Multi-Material
                        Multiplexer</strong
                      >
                    </small>
                  </div>

                  <div class="form-row align-items-center tab-2">
                    <small
                      id="singleNozzleHelp"
                      class="form-text text-muted tab-2"
                    >
                      Override the default DIO selector pins here, if needed.
                      Some pins files may provide defaults for these pins.
                    </small>
                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">MUX 0</div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="inlineFormInputGroup"
                          placeholder="Pin Number"
                          value="40"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center tab-2">
                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">MUX 1</div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="inlineFormInputGroup"
                          placeholder="Pin Number"
                          value="42"
                        />
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="autoSizingCheck"
                        />
                        <label class="form-check-label" for="autoSizingCheck">
                          Enable MUX 1
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center tab-2">
                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">MUX 2</div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="inlineFormInputGroup"
                          placeholder="Pin Number"
                          value="44"
                        />
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="autoSizingCheck"
                        />
                        <label class="form-check-label" for="autoSizingCheck">
                          Enable MUX 2
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group custom-control custom-switch mt-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="prusaMmu2Help"
                      id="exampleCheck10"
                    />
                    <label class="custom-control-label" for="exampleCheck10"
                      >Enable Prusa MMU2</label
                    >
                    <small id="prusaMmu2Help" class="form-text text-muted">
                      <code><strong>PRUSA_MMU2</strong></code>
                      Enable support for the Prusa Multi-material unit 2. This
                      requires a free serial port on your printer board. To use
                      the MMU2 you also have to
                      <ul>
                        <li>enable <code>NOZZLE_PARK_FEATURE</code></li>
                        <li>set <code>EXTRUDERS</code> = 5</li>
                      </ul>
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="switchingNozzleHelp"
                      id="exampleCheck11"
                    />
                    <label class="custom-control-label" for="exampleCheck11"
                      >Enable Switching Nozzle</label
                    >
                    <small
                      id="switchingNozzleHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>SWITCHING_NOZZLE</strong></code>
                      A Switching Extruder is a dual extruder that uses a single
                      stepper motor to drive two filaments, but only one at a
                      time. The servo is used to switch the side of the extruder
                      that will drive the filament. The E motor also reverses
                      direction for the second filament. Set the servo
                      sub-settings above according to your particular extruder’s
                      setup instructions.
                      <br /><br />
                      A Switching Nozzle is a carriage with 2 nozzles. A servo
                      is used to move one of the nozzles up and down. The servo
                      either lowers the active nozzle or raises the inactive
                      one. Set the servo sub-settings above according to your
                      particular extruder’s setup instructions
                    </small>

                    <!-- @todo switching nozzle settings -->
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="parkingExtruderSolenoidHelp"
                      id="exampleCheck12"
                    />
                    <label class="custom-control-label" for="exampleCheck12"
                      >Enable Parking Extruder with Solenoid</label
                    >
                    <small
                      id="parkingExtruderSolenoidHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>PARKING_EXTRUDER</strong></code>
                      Two separate X-carriages with extruders that connect to a
                      moving part via a solenoid docking mechanism. Requires
                      SOL1_PIN and SOL2_PIN.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="parkingExtruderMagnetHelp"
                      id="exampleCheck13"
                    />
                    <label class="custom-control-label" for="exampleCheck13"
                      >Enable Parking Extruder with Magnet</label
                    >
                    <small
                      id="parkingExtruderMagnetHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>MAGNETIC_PARKING_EXTRUDER</strong></code>
                      Two separate X-carriages with extruders that connect to a
                      moving part via a magnetic docking mechanism using
                      movements and no solenoid
                    </small>

                    <!-- @todo parking extruder settings -->
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="switchingToolheadHelp"
                      id="exampleCheck14"
                    />
                    <label class="custom-control-label" for="exampleCheck14"
                      >Enable Switching Tool Head</label
                    >
                    <small
                      id="switchingToolheadHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>SWITCHING_TOOLHEAD</strong></code>
                      Support for swappable and dockable toolheads, such as the
                      E3D Tool Changer. Toolheads are locked with a servo.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="magneticSwitchingToolheadHelp"
                      id="exampleCheck15"
                    />
                    <label class="custom-control-label" for="exampleCheck15"
                      >Enable Magnetic Switching Tool Head</label
                    >
                    <small
                      id="magneticSwitchingToolheadHelp"
                      class="form-text text-muted"
                    >
                      <code><strong>MAGNETIC_SWITCHING_TOOLHEAD</strong></code>
                      Support swappable and dockable toolheads with a magnetic
                      docking mechanism using movement and no servo.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="electroMagneticSwitchingToolheadHelp"
                      id="exampleCheck16"
                    />
                    <label class="custom-control-label" for="exampleCheck16"
                      >Enable Electromagnetic Switching Tool Head</label
                    >
                    <small
                      id="electroMagneticSwitchingToolheadHelp"
                      class="form-text text-muted"
                    >
                      <code
                        ><strong
                          >ELECTROMAGNETIC_SWITCHING_TOOLHEAD</strong
                        ></code
                      >
                      For CoreXY / HBot kinematics, toolheads are parked at one
                      edge and held with an electromagnet. Supports more than 2
                      Toolheads. See
                      <a href="https://youtu.be/JolbsAKTKf4" target="blank"
                        >https://youtu.be/JolbsAKTKf4</a
                      >
                    </small>

                    <!-- @todo switching tool head settings -->
                  </div>

                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="mixingExtruderHelp"
                      id="exampleCheck16"
                    />
                    <label class="custom-control-label" for="exampleCheck16"
                      >Enable Mixing Extruder</label
                    >
                    <small id="mixingExtruderHelp" class="form-text text-muted">
                      <code><strong>MIXING_EXTRUDER</strong></code>
                      A Mixing Extruder uses two or more stepper motors to drive
                      multiple filaments into a mixing chamber, with the mixed
                      filaments extruded from a single nozzle. This option adds
                      the ability to set a mixture, to save mixtures, and to
                      recall mixtures using the
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/T001-T002.html"
                        ><code>T</code></a
                      >
                      command. The extruder still uses a single E axis, while
                      the current mixture is used to determine the proportion of
                      each filament to use. An “experimental”
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/G000-G001.html"
                        ><code>G1</code></a
                      >
                      direct mixing option is included.
                    </small>

                    <!-- @todo mixing extruder settings -->
                  </div>

                  <!-- @todo hotend offset -->

                  <div class="row my-5">
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-primary">
                        Prev Step
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="submit" class="btn btn-success mr-2">
                        Save
                      </button>
                      <button type="button" class="btn btn-primary">
                        Next Step
                      </button>
                    </div>
                  </div>
                </form>
              </ng-container>

              <ng-container>
                <h4 class="section-heading" #psu_info>
                  <span class="badge badge-secondary mr-2">Step 5</span
                  >Configure Power Supply
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
                <form>
                  <div class="form-group custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="psuControlHelp"
                      id="exampleCheck17"
                    />
                    <label class="custom-control-label" for="exampleCheck17"
                      >Enable Power Supply Unit (PSU) Controls</label
                    >
                    <small id="psuControlHelp" class="form-text text-muted">
                      <code><strong>PSU_CONTROL</strong></code>
                      Enable and connect the power supply to the
                      <code>PS_ON_PIN</code>.
                    </small>
                  </div>
                  <div class="form-group tab-2">
                    <label for="exampleInputPassword1"
                      >Power Supply Unit Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="PSU Name"
                    />
                    <small id="psuControlHelp" class="form-text text-muted">
                      <code><strong>PSU_NAME</strong></code>
                      Custom name for PSU.
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch tab-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="psuActiveHelp"
                      id="exampleCheck18"
                    />
                    <label class="custom-control-label" for="exampleCheck18"
                      >Enable PSU Active High</label
                    >
                    <small id="psuActiveHelp" class="form-text text-muted">
                      <code><strong>PSU_ACTIVE_HIGH</strong></code>
                      Set <code>'Disable'</code> for ATX (1),
                      <code>'Enable'</code> for X-Box (2).
                    </small>
                  </div>
                  <div class="form-group custom-control custom-switch tab-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="psuActiveHelp"
                      id="exampleCheck19"
                    />
                    <label class="custom-control-label" for="exampleCheck19"
                      >Enable PSU Default Off</label
                    >
                    <small id="psuActiveHelp" class="form-text text-muted">
                      <code><strong>PS_DEFAULT_OFF</strong></code>
                      Keep power off until enabled directly with
                      <a
                        rel="external noopener noreferrer"
                        target="_blank"
                        href="https://marlinfw.org/docs/gcode/M080.html"
                        ><code>M80</code></a
                      >.
                    </small>
                  </div>
                  <!-- AUTO_POWER_CONTROL -->
                  <div class="form-group custom-control custom-switch tab-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="psuActiveHelp"
                      id="exampleCheck20"
                    />
                    <label class="custom-control-label" for="exampleCheck20"
                      >Enable PSU Auto Power Control</label
                    >
                    <small id="psuActiveHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_CONTROL</strong></code>
                      Enable automatic control of the <code>PS_ON</code> pin.
                    </small>
                  </div>
                  <!-- AUTO_POWER_CONTROL -->
                  <div class="form-group custom-control custom-switch tab-4">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="autoPowerFanHelp"
                      id="exampleCheck21"
                    />
                    <label class="custom-control-label" for="exampleCheck21"
                      >Enable Auto Power Fans</label
                    >
                    <small id="autoPowerFanHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_FANS</strong></code>
                      Turn on PSU if fans need power.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch tab-4">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="autoPowerEFanHelp"
                      id="exampleCheck22"
                    />
                    <label class="custom-control-label" for="exampleCheck22"
                      >Enable Auto Power E Fans</label
                    >
                    <small id="autoPowerEFanHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_E_FANS</strong></code>
                    </small>
                  </div>

                  <div class="form-group tab-6">
                    <label for="exampleInputText1"
                      >Auto Power E Fans Temperature</label
                    >
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">°C</div>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputText1"
                        placeholder="Temperature"
                        value="50"
                      />
                    </div>

                    <small id="psuControlHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_E_TEMP</strong></code>
                      Turn on PSU over this temperature.
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch tab-4">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="autoPowerEFanHelp"
                      id="exampleCheck24"
                    />
                    <label class="custom-control-label" for="exampleCheck24"
                      >Enable Auto Power Controller Fans</label
                    >
                    <small id="autoPowerEFanHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_CONTROLLERFAN</strong></code>
                    </small>
                  </div>

                  <div class="form-group custom-control custom-switch tab-4">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      aria-describedby="autoPowerEFanHelp"
                      id="exampleCheck22"
                    />
                    <label class="custom-control-label" for="exampleCheck22"
                      >Enable Auto Power Chamber Fans</label
                    >
                    <small id="autoPowerEFanHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_E_FANS</strong></code>
                    </small>
                  </div>

                  <div class="form-group tab-6">
                    <label for="exampleInputText2"
                      >Auto Power Chamber Fans Temperature</label
                    >
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">°C</div>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputText2"
                        placeholder="Temperature"
                        value="30"
                      />
                    </div>

                    <small id="psuControlHelp" class="form-text text-muted">
                      <code><strong>AUTO_POWER_CHAMBER_TEMP</strong></code>
                      Turn on PSU over this temperature.
                    </small>
                  </div>

                  <div class="row my-5">
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-primary">
                        Prev Step
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="submit" class="btn btn-success mr-2">
                        Save
                      </button>
                      <button type="button" class="btn btn-primary">
                        Next Step
                      </button>
                    </div>
                  </div>
                </form>
              </ng-container>

              <ng-container>
                <h4 class="section-heading">
                  <span class="badge badge-secondary mr-2">Step 5</span
                  >Dimention
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Enter email"
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Check me out</label
                    >
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
