
<div class="row mx-0">
    <div class="col-12">
      <div id="wrapper">
        <!-- Sidebar -->
        <div class="row px-0">
          <div class="col-3 px-0">
            <div id="sidebar-wrapper">
              <ul>
                <li>
                    <a href="">
                      <div class="title-wrapper">
                        <div class="icon">
                          <i class="mdi mdi-account-multiple-outline"></i>
                        </div>
                        <h6 class="title">Base Variant</h6>
                      <p class="sub-title">Marlin Version Configuration</p>
                      </div>
                    </a>
                  </li>
                <li>
                  <a href="">
                    <div class="title-wrapper">
                      <div class="icon">
                        <i class="mdi mdi-account-multiple-outline"></i>
                      </div>
                      <h6 class="title">Dimention</h6>
                      <p class="sub-title">Overall Printer Size</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="title-wrapper">
                      <div class="icon">
                        <i class="mdi mdi-account-multiple-outline"></i>
                      </div>
                      <h6 class="title">Bootscreen</h6>
                      <p class="sub-title">Configure BootScreen</p>
                    </div>
                  </a>
                </li>
                
                <li>
                  <a href="">
                    <div class="title-wrapper">
                      <div class="icon">
                        <i class="mdi mdi-account-multiple-outline"></i>
                      </div>
                      <h6 class="title">Login</h6>
                      <p class="sub-title">Lorem ipsum dolor.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="title-wrapper">
                      <div class="icon">
                        <i class="mdi mdi-account-multiple-outline"></i>
                      </div>
                      <h6 class="title">Login</h6>
                      <p class="sub-title">Lorem ipsum dolor.</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="title-wrapper">
                      <div class="icon">
                        <i class="mdi mdi-account-multiple-outline"></i>
                      </div>
                      <h6 class="title">Login</h6>
                      <p class="sub-title">Lorem ipsum dolor.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="col-9 px-0">
            <!-- Page Content -->
            <div id="page-content-wrapper">
              <div class="container-fluid my-5">
                <h4 class="section-heading">Dimention</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>