/* You can add global styles to this file, and also import other style files */
$bg-color: #f2f3f8;
$blue-color: #001778;

$body-bg: $bg-color;
@import 'node_modules/bootstrap/scss/bootstrap';

#wrapper {
  height: 100vh;
  & > .row {
    height: 100%;
  }

  #sidebar-wrapper {
    overflow-y: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-color;
    height: 100%;
    color: white;

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0;
      flex-direction: column;
      li {
        a {
          display: block;
          padding: 25px 0;
          &:hover {
            text-decoration: none;
          }
          .title-wrapper {
            color: white;
            .icon {
              font-size: 35px;
              height: 35px;
              width: 35px;
              line-height: 35px;
              margin-bottom: 13px;
            }

            .title {
              font-size: 18px;
              font-weight: bold;
              line-height: 22px;
              margin-bottom: 4px;
            }

            .sub-title {
              font-size: 15px;
              line-height: 18px;
              color: #1c3bbc;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
